h2 {
  text-align: center;
  margin-top: 1rem;
}
.Dynamicsearch {
  display: flex;
  justify-content: center;
}

.search-bar {
  margin-top: 0.3rem;
  width: 20rem;
}
/* ✅ Liste des CDs */
.cd-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 75rem;
  margin: auto;
}

/* ✅ Carte CD */
.cd-item {
  background: white;
  padding: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cd-item:hover {
  transform: scale(1.05);
}

.cd-item h3 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.cd-cover {
  width: 100%;
  border-radius: 0.5rem;
  height: 12rem;
  object-fit: cover;
}

/* ✅ detail note + review */

.cd-details p {
  margin: 5px 0;
  display: flex;
}
.description {
  display: flex;
  flex-direction: column;
}
